<div class="clearfix">
  {{#if errors.length}}
    {{#each errors as |e|}}
    <div class="margin-bottom-10 input-padding bg-4 radius-2 char fg-white">
      <p>{{e}}</p>
    </div>
    {{/each}}
  {{/if}}
  <div class="margin-bottom-10">
    {{forms/text-input value=(mut email) enter=(action 'submit') placeholder=(t 'email')}}
  </div>
  <div class="margin-bottom-10">
    {{forms/text-input value=(mut name) enter=(action 'submit') placeholder=(t 'name')}}
  </div>
  <div class="margin-bottom-10">
    {{forms/password-input value=(mut password) enter=(action 'submit') placeholder=(t 'password')}}
  </div>
  <div class="margin-bottom-10 clearfix">
    <div class="float-right">
      {{#if delegate.revisions.length}}
        <a class="button" onClick={{action 'submit'}}>{{t 'submit'}}</a>
      {{/if}}
    </div>
  </div>
</div>
