<tr>
  <td data-column="round.id" class="align-center v-align-middle">
    <div class="align-center">
      <p>{{row.number}}</p>
    </div>
  </td>
  {{#each userColumns as |c|}}
    <td data-column="status" class="align-center border-left-1 v-align-middle">
      <div class="vert-hack__table" style="width: auto; margin: 0 auto;">
        {{#if c.asshole}}
          <div class="vert-hack__cell"><i class="icon fs-4 ion-close char fg-black-lighten-20"></i></div>
        {{/if}}
        {{#if c.president}}
          <div class="vert-hack__cell"><i class="icon fs-4 ion-ios-circle-filled fg-black-lighten-20"></i></div>
        {{/if}}
        {{#if c.vice_president}}
          <div class="vert-hack__cell"><i class="icon fs-4 ion-ios-circle-outline fg-black-lighten-20"></i></div>
        {{/if}}

        {{#if c.unranked}}
          {{#unless row.round.asshole_id}}
          <div class="vert-hack__cell">
            <a class="button" onClick={{action 'asshole' c.user}}><i class="icon ion-close"></i></a>
          </div>
          {{/unless}}
          {{#unless row.round.president_id}}
            <div class="vert-hack__cell">
              <a class="button" onClick={{action 'president' c.user}}><i class="icon ion-ios-circle-filled"></i></a>
            </div>
          {{/unless}}
          {{#unless row.round.vice_president_id}}
            <div class="vert-hack__cell">
              <a class="button" onClick={{action 'vp' c.user}}><i class="icon ion-ios-circle-outline"></i></a>
            </div>
          {{/unless}}
        {{/if}}
      </div>
    </td>
  {{/each}}

  {{#unless ended}}
    <td data-column="round.actions" class="align-center border-left-1 v-align-middle">
      {{game-display-table/action-menu manager=row.manager round=row.round}}
    </td>
  {{/unless}}
</tr>
