<header class="application-header__inner">
  <section class="oc clearfix">
    <div class="vert-hack__table">
      <div class="vert-hack__cell">
        <div class="vert-hack__table">
          <div class="vert-hack__cell" style="width: 35px">
            <img src="/images/logo-white.svg" width="100%"/>
          </div>
          <div class="vert-hack__cell padding-left-5">{{#link-to 'index'}}<b>{{t 'charcoal'}}</b>{{/link-to}}</div>
        </div>
      </div>
      <div class="vert-hack__cell">
        <div class="float-right">
          <div class="display-table display-table--fixed">
            {{#if user}}
              <div class="display-table-cell v-align-middle padding-right-10">
                <a href="/api/logout">{{t 'logout'}}</a>
              </div>
            {{/if}}
            <div class="display-table-cell v-align-middle padding-right-10">
              {{#link-to 'about'}}{{t 'about'}}{{/link-to}}
            </div>
            <div class="display-table-cell v-align-middle">
              <a href="{{source_home}}" title="{{t 'source_code'}}">
                <i class="icon fs-5 ion-social-github fg-0" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
