{{#hoc-table delegate=delegate sorting=sorting as |table|}}
  {{#table.pending}}
    <tr>
      <td colspan="{{columns.length}}">{{t 'loading_rounds'}}</td>
    </tr>
  {{/table.pending}}

  {{#table.row as |row|}}
    {{#if row.aborted}}
      <tbody>
        <tr>
          <td colspan="{{row.columns.length}}">
            <p>{{t 'aborted_game'}}</p>
          </td>
        </tr>
      </tbody>
    {{/if}}

    {{#if row.empty}}
      <tbody>
        <tr>
          <td colspan="{{row.columns.length}}">
            <p>{{t 'no_rounds'}} <a onClick={{action 'start'}}>{{t 'start_game'}}</a></p>
          </td>
        </tr>
      </tbody>
    {{/if}}

    {{#if row.round}}
      {{game-display-table/row row=row}}
    {{/if}}
  {{/table.row}}
{{/hoc-table}}
