<div class="clearfix">
  <div class="clearfix margin-bottom-10">
    <div class="vert-hack__table">
      <div class="vert-hack__cell">
        <h4>{{t 'leaderboard'}}</h4>
      </div>
      <div class="vert-hack__cell">
        <div class="float-right clearfix">
          <div class="float-right margin-left-10">
            <a class="button" onClick={{action 'newRound'}}>{{t 'new_round'}}</a>
          </div>
          <div class="float-right margin-left-10">
            <a class="button" onClick={{action 'refresh'}}>{{t 'refresh'}}</a>
          </div>
          <div class="float-right">
            {{#hoc-modal as |modal|}}
              {{#modal.button}}
                <p class="button">{{t 'add_player'}}</p>
              {{/modal.button}}
              {{#modal.body as |modal_body|}}
                {{#modal_body.title}}
                  <h5><b>{{t 'add_player'}}</b></h5>
                {{/modal_body.title}}

                {{#modal_body.content}}
                  {{game-membership-modal game=model.game manager=model.manager}}
                {{/modal_body.content}}
              {{/modal.body}}
            {{/hoc-modal}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix">
    {{#if lonely}}
      {{game-setup manager=model.manager game=model.game}}
    {{else}}
      {{game-display-table delegate=model.table_delegate sorting=model.sorting}}
    {{/if}}
  </div>
</div>
