{{#hoc-table delegate=delegate sorting=sorting pagination=pagination as |table|}}
  {{#table.pending}}
    <tr>
      <td colspan="{{row.columns.length}}">{{t 'loading_users'}}</td>
    </tr>
  {{/table.pending}}

  {{#table.row as |row|}}
    {{#if row.empty}}
      <tbody>
        <tr>
          <td colspan="3">
            <p>{{t 'no_results'}}</p>
          </td>
        </tr>
      </tbody>
    {{else}}
      {{game-membership-modal/table/row row=row}}
    {{/if}}
  {{/table.row}}

{{/hoc-table}}
