{{#hoc-menu as |menu|}}
  {{#menu.button}}
    <i class="icon ion-navicon bg-0"></i>
  {{/menu.button}}

  {{#menu.body}}
    <div class="clearfix">
      {{#if canDelete}}
        <div class="select-item">
          <a class="fg-black" onClick={{action 'destroy'}}>{{t 'end_game'}}</a>
        </div>
      {{/if}}
      <div class="select-item">
        <a class="fg-black" onClick={{action 'leave'}}>{{t 'leave_game'}}</a>
      </div>
      <div class="select-item">
        {{#link-to 'games.single' game.uuid class="fg-black"}}{{t 'view_game'}}{{/link-to}}
      </div>
    </div>
  {{/menu.body}}
{{/hoc-menu}}
